*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --secondary: #009688;
    --main: #eaeaea;
    --background: #dcdbd2;
    --msg_bar: #f3eeea;
    --my_msg: #d5f9ba;
    --icons: #b1b1b1;
    --notification: #8edafc;
}

.debug{
    border:1px solid black;
}

body{
    height:100wh;
}

ul{
    list-style: none;
}

li{
    display: inline;
}

img{
    display: block;
    max-width: 100%;
}

.profile_img{
    width: 70px;
    height: 70px;
    
    img{
        width:100%;
        height:100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

/***********************************************************
Main elements
************************************************************/

#site_main{
    background-color: var(--background);
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whatsapp{
    height:95vh;
    width:100%;
    max-width:1200px;
}

/***********************************************************
left bar
************************************************************/
#left_bar{
    position: relative;
    height:100%;
    background-color: var(--main);
    overflow: scroll;
}

/* left bar > first section: account */
#account{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height:120px;
    padding:1rem;
    position:sticky;
    top:0;
    background-color: var(--main);
}

#buttons{
    display: flex;
    gap:1rem;
    i{
        font-size:1.5rem;
        color: var(--icons);
    }
}

/* left bar > second section: notification */
#notification{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    height:120px;
    padding: 1rem;
    background-color: var(--notification);
    gap:0.75rem;

    a{
        color:var(--secondary);
    }
}

#turn_on_btn{
    width: 70px;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color:var(--notification);
    border-radius:50%;
    font-size:2rem;
}

/*  */
#friend_list{

}

/***********************************************************
right bar for current chat
************************************************************/
#right_bar{
    position: relative;
    background-image: url("../img/background.jpg");
}

#current_chat{
    background-color: var(--main);
}

#write_box{
    position:absolute;
    bottom:0%;
    width:100%;
    background-color: var(--msg_bar);
}

#messages{  
    position:relative;
}

#my_msg{
    position:absolute;
    left:8%;
    top:8%;
    width:50%;
    height:40%;
    border-radius: 1rem;
    background-color: var(--my_msg);
    padding:0.5rem;
}

#your_msg{
    position:absolute;
    right:8%;
    top:50%;
    width:50%;
    height: 40%;
    border-radius: 1rem;
    background-color: white;
    padding:0.5rem;
}

/***********************************************************
Row and column structure
************************************************************/

.row{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    height:100%;
}

.col-4{
    width:calc((100%/12)*4);
}

.col-8{
    width:calc((100%/12)*8);
}

.row-1{
    height:calc((100%/12)*1);
}

[class^="row-"]{
    min-height: 80px;
}
.row-2{
    height:calc((100%/12)*1.5);
}

.row-8{
    height:calc((100%/12)*8);
}

.row-10{
    height:calc((100%/12)*10);
}
/***********************************************************
Media rules
************************************************************/

/* second */
@media screen and (max-width:941px){
    .md-hide{
        display:none;
    }

    .col-md-2{
        width:calc((100%/12)*2);
        min-width: 80px;
    }

    .col-md-10{
        width:calc((100%/12)*10);
    }

    #whatsapp{
        height:100vh;
        width:100%;
    }

    #account{
        justify-content: center;
    }
    #notification{
        display: none;
    }
}

/* mobile */
@media screen and (max-width:540px){
    .sm-hide{
        display: none;
    }
    .col-sm-12{
        width:100%;
    }
}